<hr noshade>
<h1><img src="/src/public/img/tinyplum.png" height="50px" width="50px">  About Us</h1>
<hr noshade>
<div class="panel panel-default">
<p>Fruit Forward is an East Portland based app for quickly reigstering your fruit trees!
<br>
Why register your fruit trees? Every year millions of pounds of uneaten fruit are wasted in easily acessable areas. With Fruit Forward you can register your over-abundant fruit trees to help eliminate food waste and hunger!
Perhaps you're just a friendly neighbor looking to grab a stray apple or two? That's great too! Fruit Forward is entirely about community collaboration, as a fruit-seeker you can find near-by fruits to obtain, and make a list of your favorite trees.</p>
</div>
