<hr noshade>
<h1><img src="/src/public/img/tinyplum.png" height="50px" width="50px"><b> ABOUT US</b> </h1>
<hr noshade>
<img class="lemon" src="/src/public/img/lemonimg.png">
<div class="textTime">
<p>
  <br>
  To put it simply, Fruit Forward is an East Portland based app for quickly registering your fruit trees!
<br>
<br>
Why register your fruit trees?
<br>
<br>
Every year millions of pounds of uneaten fruit are wasted in easily accessible areas. With Fruit Forward you can register your over-abundant fruit trees to help eliminate food waste and hunger! Turn simple city streets into a place where neighbors can gather and do something good. There is so much wasted space in the urban area, part of building a sustainable future is properly utilizing the space we have.
How about growing food in that area? Mostly everyone loves fruit!
But, growing a fruit tree from scratch is a rough way to go as well. Fruit trees can take many many years to reach (literal) fruition. Even the quickest growing of trees can be a minimum of two years to even begin fruiting. Often the first of harvests on young trees are not the most tasty or productive.
<br>
<br>
How much fruit do you honestly think you could eat in a sitting? In a day? In a week? Probably not more than a few fruits… Potentially at most, (in the span of a week) you could consume a few pounds of fruit. Your fruiting apple tree in the front yard can make as much as 47 pounds of fruit! That would be almost impossible to eat! Share it with the community, the city, the country, the world! Any friendly body can participate and help make a slightly better, more efficient world.
<br>
<br>
Perhaps you're just a friendly neighbor looking to grab a stray Persimmon or two? That's great too! Fruit Forward is entirely about community collaboration, as a fruit-seeker you can find near-by fruits to obtain, and make a list of your favorite trees. Walk around the neighborhood with purpose and connect with people close-by.  Collect fruits for your local food-bank or kick-up your pie game a notch with fresh fruits picked from literally down the street.
<br>
<br>
Nice, very nice, partake in fruit, partake in sharing, enjoy nature, enjoy the tress.
<br>
<br>
Pear Image from 44DegreesNorth
<br>
Lemon Image from The Prairie Homestead
</p>
</div>
