<div *ngIf="currentUser">
    <h2>Welcome {{currentUser.email}} </h2>
</div>
  <button (click)="submitLogout()">Logout</button>
<!-- <div *ngIf="!currentUserId.email"> -->
  <h2>Welcome </h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Register New User</h3>
    </div>
    <div class="panel-body">
  <div>
    <div>
      <label>Email</label>
      <br>
      <input #email>
    </div>
    <div>
      <label>Password</label>
      <br>
      <input #password>
    </div>
      <br>
    <button (click)="submitNewUser(email.value, password.value); email.value=''; password.value=''">Register</button>
  </div>
  </div>
  </div>


  <hr noshade>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Existing Users</h3>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Email</label>
          <br>
          <input #email2>
        </div>
        <div>
          <label>Password</label>
          <br>
          <input #password2>
        </div>
          <button (click)="submitLogin(email2.value,password2.value); email2.value=''; password2.value=''">Login</button>
      </div>
    </div>
  </div>
