<div *ngIf="currentUserId">
    <h2>Welcome {{currentUser.username}} </h2>
    <button (click)="submitLogout(currentUser)">Logout</button>
</div>
<div *ngIf="!currentUserId">
  <h2>Welcome </h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
  <div>
    <div>
      <label>UserName:</label>
      <br>
      <input #loginName>
    </div>
    <div>
      <label>password:</label>
      <br>
      <input #password>
    </div>
    <button (click)="submitLoginForm(loginName.value, password.value); loginName.value=''; password.value=''">Enter</button>
  </div>
  </div>
  </div>

  <hr noshade>

  <!-- <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Register New User</h3>
    </div>
    <div class="panel-body">
  <div>
    <div>
      <label>UserName:</label>
      <br>
      <input #username>
    </div>
    <button (click)="submitNewUserForm(username.value); username.value=''">Register</button>
  </div>
  </div>
  </div> -->
</div>
