<hr noshade>
<h3>Add a New Tree!</h3>
<hr noshade>
<div class = "well">
<div>
  <div>
    <label>Species of Your Tree:</label>
    <br>
    <input #newSpecies>
  </div>
  <div>
    <label>What Type of Tree:</label>
    <br>
    <input #newType>
  </div>
  <div>
    <label>Tree's Street Location:</label>
    <br>
    <textarea #newStreet></textarea>
  </div>
  <div>
    <label>Tree Zipcode:</label>
    <br>
    <textarea #newZip></textarea>
  </div>
  <div>
    <label>Notes:</label>
    <br>
    <textarea #newNotes></textarea>
  </div>
  <div>
    <label>Tree Image:</label>
    <br>
    <textarea #newImage></textarea>
    <div>
      <label>Tree's Owner:</label>
      <br>
      <textarea #newownerUsername></textarea>
    </div>
  </div>
</div>
</div>
