<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">
        <div class="titleTime">
          FRUIT FORWARD</div></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="users/:uid/new-tree">Add a Tree</a></li>
        <li><a routerLink="all-trees">Trees</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="all-trees">Orchard</a></li>
        <li><a routerLink="/users/{{uid}}">My Account</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <!-- <router-outlet>(clicksender)="sdsd" [clickin] =""</router-outlet> -->
  <router-outlet> </router-outlet>

  <div class="login" *ngIf="currentUser">
    <p>Welcome {{currentUser.email}}</p>
  </div>
</div>
