<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Fruit Tree Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="orchard">Orchard</a></li>
      <li><a routerLink="user-profile">Profile</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
   <!-- <app-user-profile [currentUser]="currentUser"></app-user-profile> -->


  <div class="login" *ngIf="currentUser">
    <p>Welcome {{currentUser.email}}</p>
  </div>

</div>
<!-- <footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="login">Login</a>
  </div>
</footer> -->
