@import url('https://fonts.googleapis.com/css?family=Poppins');

.panel {
  width: 550px;
}

agm-map {
  height: 500px;

}

.well {
  background-color: #a1c681;
  width: 100%;
}

h1 {
  font-size: 35px;
  font-family: Poppins;
  text-align: center;
  color: green;
}

b {
  font-size: 20px;
  font-family: Poppins;
  color: green;
}

li {
  font-size: 15px;
  font-family: Poppins;
  color: green;
}
