<hr noshade>
<h3>All Trees</h3>

<div *ngFor="let tree of trees | async" class="panel panel-default">
  <div class="panel-body">
      <li><b>{{tree.species}}</b></li>
      <li>{{tree.type}}</li>
      <li>{{tree.ownerUsername}}</li>
      <li>{{tree.street}}, {{tree.zip}}</li>
      <li>{{tree.image}}</li>
      <li>{{tree.notes}}</li>
  </div>
</div>
<div *ngFor="let coord of treeCoordinates">
  <div class="panel-body">
      <li><b>{{coord[0]}}</b></li>
      <li>coord[1]</li>
  </div>
</div>

<agm-map [latitude]="lat" [longitude]="lng">
  <div *ngFor="let coord of treeCoordinates">
    <agm-marker [latitude]= coord[0] [longitude]= coord[1]></agm-marker>
  </div>

</agm-map>
