<hr noshade>
<h1>ALL TREES</h1>
<div class="well green">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]= "zoomLevel">
    <div *ngFor="let coord of treeCoordinates">
      <agm-marker
        [latitude] = coord[1]
        [longitude]= coord[2]>
        <agm-info-window>{{coord[0]}}</agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
</div>
<div class="container-fluid">
  <h1>Tree Addresses</h1>
  <div *ngFor="let tree of trees | async" class="panel panel-default">
      <div class="panel-body">
        <b>{{tree.type}}</b>
        <li>{{tree.species}}</li>
        <li>{{tree.street}}, {{tree.zip}}</li>
        <li>{{tree.notes}}</li>
        <li>{{tree.image}}</li>
        <button (click)="likeTree(tree)">like</button><em> {{tree.numLikes}}</em>
      </div>
    </div>
  </div>
