<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
       <li><a routerLink="new-tree">Add a Tree</a></li>
        <li (click)="submitLogout()">Logout</li>
    </ul>
  </div>
</nav>

 <div *ngIf="userToDisplay">
  <p> <em> Hi {{(userToDisplay | async).email}} </em></p>
</div>

<div *ngIf="myTrees">
  <div *ngFor="let tree of myTrees" class ="panel panel-default">
    <div class="panel-body">
      <h4 (click)="doSomethingAwesome(tree)">{{tree.type}} Tree <em>{{tree.species}} </em></h4>
      <h5> {{tree.street}}</h5>

      <!-- <div *ngIf="currentRoute === '/admin'">
        <h3>{{album.description}}</h3>
        <hr>
        <app-edit-album [selectedAlbum] = "album" > </app-edit-album> -->
    </div>
  </div>
</div>
